{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
<div class="panel">
    <h3><i class="icon icon-bar-chart"></i> {{ 'Cache Statistics'|trans({}, 'Modules.Macymedcacheboost.Admin') }}</h3>
    <div class="row">
        <div class="col-lg-4">
            <strong>{{ 'Cache Engine:'|trans({}, 'Modules.Macymedcacheboost.Admin') }}</strong> <span class="badge">{{ cache_stats.engine }}</span>
        </div>
        <div class="col-lg-4">
            <strong>{{ 'Cached Pages:'|trans({}, 'Modules.Macymedcacheboost.Admin') }}</strong> <span class="badge">{{ cache_stats.count }}</span>
        </div>
        <div class="col-lg-4">
            <strong>{{ 'Cache Size:'|trans({}, 'Modules.Macymedcacheboost.Admin') }}</strong> <span class="badge">{{ cache_stats.size }}</span>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-lg-4">
            <strong>{{ 'Cache Hits:'|trans({}, 'Modules.Macymedcacheboost.Admin') }}</strong> <span class="badge">{{ cache_stats.hits }}</span>
        </div>
        <div class="col-lg-4">
            <strong>{{ 'Cache Misses:'|trans({}, 'Modules.Macymedcacheboost.Admin') }}</strong> <span class="badge">{{ cache_stats.misses }}</span>
        </div>
        <div class="col-lg-4">
            <strong>{{ 'Last Flush:'|trans({}, 'Modules.Macymedcacheboost.Admin') }}</strong> <span class="badge">{{ cache_stats.last_flush }}</span>
        </div>
    </div>
</div>
{% endblock %}
