{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
    {{ form(form) }}
    <div class="card mt-4">
        <div class="card-header">
            {{ 'Sitemap Cache Warmer'|trans({}, 'Modules.Macymedcacheboost.Admin') }}
        </div>
        <div class="card-body">
            <p>{{ 'Pre-load the cache for all your site URLs based on your sitemap. This ensures visitors always get a fast experience.'|trans({}, 'Modules.Macymedcacheboost.Admin') }}</p>
            <button type="button" id="warmup_cache_btn" class="btn btn-primary">{{ 'Start Sitemap Warming'|trans({}, 'Modules.Macymedcacheboost.Admin') }}</button>
            <div id="warmup_status" class="help-block" style="margin-top: 10px;"></div>
            <hr>
            <h4>{{ 'Automatic Sitemap Warming (Cron Job)'|trans({}, 'Modules.Macymedcacheboost.Admin') }}</h4>
            <p>{{ 'To automate cache warming, set up a cron job on your server to run the following URL periodically:'|trans({}, 'Modules.Macymedcacheboost.Admin') }}</p>
            <code>{{ warmer_url }}</code>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            {{ 'Invalidation Queue'|trans({}, 'Modules.Macymedcacheboost.Admin') }}
        </div>
        <div class="card-body">
            <p>{{ 'There are currently %s URLs in the warming queue.'|trans({'%s': warming_queue_count}, 'Modules.Macymedcacheboost.Admin') }}</p>
            <button type="button" id="process_queue_btn" class="btn btn-primary" {% if warming_queue_count == 0 %}disabled="disabled"{% endif %}>{{ 'Process Queue Now'|trans({}, 'Modules.Macymedcacheboost.Admin') }}</button>
            <div id="queue_status" class="help-block" style="margin-top: 10px;"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            // Your jQuery code here
        });
    </script>
{% endblock %}
