{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
<div class="card">
    <div class="card-header">
        <i class="material-icons">bar_chart</i> {{ 'Cache Statistics'|trans({}, 'Modules.Macymedcacheboost.Admin') }}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body text-center">
                        <p class="card-text">{{ 'Cache Engine'|trans({}, 'Modules.Macymedcacheboost.Admin') }}</p>
                        <h4 class="card-title">{{ cache_stats.engine }}</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body text-center">
                        <p class="card-text">{{ 'Cached Pages'|trans({}, 'Modules.Macymedcacheboost.Admin') }}</p>
                        <h4 class="card-title">{{ cache_stats.count }}</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body text-center">
                        <p class="card-text">{{ 'Cache Size'|trans({}, 'Modules.Macymedcacheboost.Admin') }}</p>
                        <h4 class="card-title">{{ cache_stats.size }}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body text-center">
                        <p class="card-text">{{ 'Cache Hits'|trans({}, 'Modules.Macymedcacheboost.Admin') }}</p>
                        <h4 class="card-title">{{ cache_stats.hits }}</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body text-center">
                        <p class="card-text">{{ 'Cache Misses'|trans({}, 'Modules.Macymedcacheboost.Admin') }}</p>
                        <h4 class="card-title">{{ cache_stats.misses }}</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body text-center">
                        <p class="card-text">{{ 'Last Flush'|trans({}, 'Modules.Macymedcacheboost.Admin') }}</p>
                        <h4 class="card-title">{{ cache_stats.last_flush }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
